<!DOCTYPE html>
<html>
  <head>
    <title>Index</title>
  </head>
  <body>
    <h1>Welcome to web scrapping - Ineuron Website</h1>
	<h2>Author - Saravanan Kamala Kannan</h2>
	<h3>API User Guide: </h2>
	<p><b>"/"</b> - lauch the home page(current page)</p>
	<p><b>"/courses"</b> - returns the json object with list of available Courses</p>
	<p><b>"/course/valid_course_name"</b> - returns the json object with list of available Sub-Courses
		ex: "/courses/Cloud"</p>
	<p><b>"/courses/detail"</b> - returns the json object with status as success or failure and stores the scrapped details in mongo DB</p>
	<br>
	<a href="https://ineuron.ai/"><b>Target Website: "Ineuron"</b></a>
	<br>
	<br>
	<a href="https://ineuron.ai/"><b>Git Hub Link: "IneuronCourseScrapper"</b></a>
	<br>
	<br>
	<h2>Thank You For Visiting!!!</h2>
  </body>
</html>